version: "3.9"

services:
  trino:
    image: trinodb/trino:479
    container_name: ydb-trino-trino
    ports:
      - "8080:8080"
    volumes:
      - ./trino/etc:/etc/trino
      - ./trino/plugin:/usr/lib/trino/plugin/ydb
    depends_on:
      - ydb

  ydb:
    image: ydbplatform/local-ydb:latest
    platform: linux/amd64
    container_name: ydb-local
    hostname: ydb-local
    environment:
      YDB_DEFAULT_LOG_LEVEL: NOTICE
      GRPC_TLS_PORT: "2135"
      GRPC_PORT: "2136"
      MON_PORT: "8765"
      YDB_USE_IN_MEMORY_PDISKS: "true"
    ports:
      - "2135:2135"
      - "2136:2136"
      - "8765:8765"
